/* General styles */
body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1f1f1f;
    color: #fff;
    border-bottom: 1px solid #333;
    height: 100px; /* Set consistent vertical height */
}

nav .logo {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    height: 100%;
}

nav .logo h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: left; /* Align text to the left */
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 24px; /* Increase icon size */
    display: flex;
    align-items: center;
    height: 100%;
}

nav ul li a:hover {
    color: #bb86fc;
}

/* Content styles */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #1f1f1f;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

section h2 {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #bb86fc;
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.flex-item {
    flex: 1 1 45%;
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.flex-item h3 {
    margin-top: 0;
    color: #bb86fc;
}

.flex-item p {
    color: #e0e0e0;
}

.skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.skills-list li {
    background: #333;
    margin: 5px;
    padding: 10px;
    border-radius: 4px;
    color: #e0e0e0;
}

.skill-category {
    margin-bottom: 20px;
}

.education-list {
    list-style: none;
    padding: 0;
}

.project, .education-list li, .skill-category {
    background: #2c2c2c;
    margin: 10px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1f1f1f;
    color: #e0e0e0;
    border-top: 1px solid #333;
}

a {
    color: #bb86fc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
